@model ThamcoProfiles.Models.User

@{
    ViewData["Title"] = "Delete";
    ViewData["ControllerName"] = "Account";
    ViewData["ActionName"] = "Delete";
}

<link href="~/css/delete.css" rel="stylesheet" />

<h1>Delete</h1>

<h3>Are you sure you want to delete your account?</h3>

<div>
    
    <div class="user-info-list">
        <!-- First Name -->
        <div class="user-info-item">
            <h5>First Name</h5> <span>@Model.FirstName</span>
        </div>

        <!-- Last Name -->
        <div class="user-info-item">
            <h5>Last Name</h5> <span>@Model.LastName</span>
        </div>

        <!-- Email -->
        <div class="user-info-item">
            <h5>Email</h5> <span>@Model.Email</span>
        </div>

        <!-- Payment Address -->
        <div class="user-info-item">
            <h5>Payment Address</h5> <span>@Model.PaymentAddress</span>
        </div>

        <!-- Phone Number -->
        <div class="user-info-item">
            <h5>Phone Number</h5> <span>@Model.PhoneNumber</span>
        </div>
    </div>

    <!-- Delete Form -->
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" />
    </form>
    <a class="cancel-button btn btn-secondary" asp-action="Details" asp-controller="Account">Cancel</a>
</div>
