@model ThamcoProfiles.Models.User
@{
    ViewData["Title"] = "Edit Field";
    ViewData["ControllerName"] = "Account";
    ViewData["ActionName"] = "EditField";
}

<link href="~/css/edit.css" rel="stylesheet" />

<body>
<div class="container">
    <h2>Edit your @ViewBag.Field</h2>
    <form id="editForm" asp-action="EditField">
       <!-- <input type="hidden" asp-for="Id" /> -->
        <input type="hidden" name="field" value="@ViewBag.Field" />
       <div class="form-group">
            <label>@ViewBag.Field</label>

            @if (ViewBag.Field == "PaymentAddress")
            {
                <!-- Input with Google Places Autocomplete for address -->
                <input id="PaymentAddress" type="text" class="form-control" name="newValue" value="@ViewBag.FieldValue" placeholder="Enter your address" required />
                <span class="text-danger" style="display: none;"></span>

            }
            else if (ViewBag.Field == "PhoneNumber")
            {
                <!-- intl-tel-input for Phone Number -->
                <input id="phoneNumber" type="tel" class="form-control" name="newValue" placeholder="Enter your phone number" required />
                <span class="text-danger" style="display: none;"></span>

            }
            
            else
            {
                <!-- Standard Input for other fields -->
                <input type="text" class="form-control" name="newValue" value="@ViewBag.FieldValue" required/>
                <span class="text-danger" style="display: none;"></span>
                

            }
        </div>
        <button type="submit" class="save-button">Save</button>
        <a asp-controller="Account" asp-action="Details" class="cancel-button">Cancel</a>
    </form>
</div>


<div>
    <a class="back button" asp-controller="Account" asp-action="Details"><i class="bi bi-arrow-return-left"></i></a>
</div>
</body>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBTCZn2kPp1MNnuohuihlYuk83f76EHMG8&libraries=places"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/css/intlTelInput.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/intlTelInput.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/utils.js"></script>
<script src="~/js/EditField.js"></script>

