@using ThamcoProfiles.Services.ProductRepo;
@model IEnumerable<ProductDto>

@{
    ViewData["Title"] = "Product list";
}

<h1>Products</h1>

@if (Model != null && Model.Any())
{
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Category Name</th>
                <th>Brand Name</th>
                <th>Description</th>
                <th>Price</th>

                
            </tr>
        </thead>
        <tbody>
            @foreach (var product in Model)
            {
                <tr>
                    <td>@product.Name</td>
                    <td>@product.CategoryName</td>
                    <td>@product.BrandName</td>
                    <td>@product.Description</td>
                    <td>@product.Price</td>
                    

                    
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>No products available.</p>
}
